* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container_info{
	margin: auto;
	width: 90%;
	max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container_info p{
	margin-left: 30px;
	margin-bottom: 20px;
}

.container_info h3{
	margin-left: 10px;
	margin-bottom: 20px;
}


.img_ropa img{
    width: 100%;
}

.precio_ropa{
    font-size: 30px;
    font-weight: 900;
    color: #323232;
    margin: auto;
    margin-bottom: 24px;
}

.info{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.info select{
    margin: auto;
    width: 100px;
    margin-bottom: 12px;
}

form{
    margin: auto;
}
